# Advanced Python Objects Test

## Advanced Numbers

**Problem 1: Convert 1024 to binary and hexadecimal representation**

In [2]:
print(hex(1024))
print(bin(1024))

0x400
0b10000000000

**Problem 2: Round 5.23222 to two decimal places**

In [4]:
round(5.23222,2)

5.23

## Advanced Strings
**Problem 3: Check if every letter in the string s is lower case**

In [7]:
s = 'hello how are you Mary, are you feeling okay?'
print(s.islower()) # returns true if all the characters in lowercase string

False

**Problem 4: How many times does the letter 'w' show up in the string below?**

In [8]:
s = 'twywywtwywbwhsjhwuwshshwuwwwjdjdid'
s.count('w')

12

## Advanced Sets
**Problem 5: Find the elements in set1 that are not in set2:**

In [9]:
set1 = {2,3,1,5,6,8}
set2 = {3,1,7,5,6,8}
set1.difference_update(set2)
print(set1)

{2}

**Problem 6: Find all elements that are in either set:**

In [10]:
print(set1.union(set2))

{1, 2, 3, 5, 6, 7, 8}

## Advanced Dictionaries

**Problem 7: Create this dictionary:
{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}
 using a dictionary comprehension.**

In [12]:
dic = {x: x**3 for x in range(5)}
print(dic)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

## Advanced Lists

**Problem 8: Reverse the list below:**

In [16]:
list1 = [1,2,3,4]
list1.reverse()
print(list1)

[4, 3, 2, 1]

**Problem 9: Sort the list below:**

In [17]:
list2 = [3,4,2,5,1]
list2.sort()
print(list2)

[1, 2, 3, 4, 5]

# Great Job!