___

<a href='https://www.udemy.com/user/joseportilla/'><img src='https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/Pierian_Data_Logo.png?raw=1'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge.

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: Numbers are integer values (e.g-> 1,2,3,4). We denote them by integer data type under which we can store integer values

Strings: Strings are the collections of characters that are enclosed inside single or double quotes.
e.g-> "Hello",  'hello',  "I'm Jatin"

Lists: A List is a data structure in python which is in ordered collection of variety of objects. It is enclosed in [1,2,3,4]

Tuples: A Tuple is similiar to a list but here we use simple parathensis to enclose the elements of a tuple and the only difference between a tuple and list is that a tuple is immutable
(1,2,3)

Dictionaries: Dictionaries are unordered mappings of data objects. It is enclosedd in {"key": "value"}. It stores objects in key value pairs which allows users to quickly access the elements or values using keys.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [27]:
print(9 * 10 - 2 ** 3 / 2 + 14.25)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5
    
    What is the value of the expression 4 + 6 * 5

In [31]:
print(4 * 11)
print(24 + 5)
print(4 + 30)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>  Float

In [33]:
print(3 + 1.5 + 4)

8.5

What would you use to find a numberâ€™s square root, as well as its square?

In [39]:
#Square root:
import math
print(math.sqrt(64)) # using sqrt function in math package

# Square:
print( 4 ** 2) # using exponantionation

8.0
16

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [40]:
s = 'hello'
# Print out 'e' using indexing

print(s[1])

e

Reverse the string 'hello' using slicing:

In [46]:
s ='hello'
# Reverse the string using slicing

print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [49]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[-1])

o

In [48]:
# Method 2:
print(s[4])

o

## Lists

Build this list [0,0,0] two separate ways.

In [54]:
# Method 1:
my_list = [0,0,0]
print(my_list)

[0, 0, 0]

In [55]:
# Method 2:
mylist = []
mylist.append(0)
mylist.append(0)
mylist.append(0)
print(mylist)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [56]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [57]:
list4 = [5,3,4,6,1]

list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [58]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [59]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [62]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1][0])

hello

In [65]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?<br><br>
No we can't sort a directory because here the objects are stored based upon key value pairs and there is no indexing and we can access objects using keys and this is not supportable.

## Tuples

What is the major difference between tuples and lists?<br><br>
A list is an ordered sequences of a variety of objects and supports indexing and slicing and we can even change the list elements can reassign them which means it has mutability feature. A tuple instead does not support mutuability which means if an element is inside a tuple once can not be changed

How do you create a tuple?<br><br>
my_tuple = (1,2,3)
print(my_tuple)

In [67]:
my_tuple = (1,2,3)
print(my_tuple)
print(type(tuple))

(1, 2, 3)
<class 'type'>

## Sets

What is unique about a set?<br><br>
Set is an unordered collection of unique elements and there is no repetition allowed for any object. This means that there can only be one represenatative for the same object

Use a set to find the unique values of the list below:

In [71]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

my_set = set(list)
print(my_set)

{0}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [72]:
# Answer before running cell
2 > 3

False

In [73]:
# Answer before running cell
3 <= 2

False

In [74]:
# Answer before running cell
3 == 2.0

False

In [76]:
# Answer before running cell
3.0 == 3

True

In [77]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [78]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!