___

<a href='https://www.udemy.com/user/joseportilla/'><img src='https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/Pierian_Data_Logo.png?raw=1'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Functions and Methods Homework

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [2]:
def vol(rad):
    return ((4/3) * 3.14) * (rad ** 3)

In [4]:
# Check
vol(2)

33.49333333333333

In [5]:
vol(10)

4186.666666666667

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [156]:
def ran_check(num,low,high):
    if num in range(low, high+1):
      return f'{num} is in the range between low and high'

In [157]:
# Check
ran_check(5,2,7)

'5 is in the range between low and high'

If you only wanted to return a boolean:

In [19]:
def ran_bool(num,low,high):
    if num in range(low, high+1):
      return True

In [20]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output :
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [164]:
def up_low(s):
    countupper = 0
    countlower = 0
    for _,letter in enumerate(s):
      if letter.isupper():
        countupper += 1
      elif letter.islower():
        countlower += 1
      else:
        # if it is punctunation we will do nothing
        pass
    print(f'Original String: {s}')
    print(f'No. of Upper case characters:  {countupper}')
    print(f'No. of Lower case characters:  {countlower}')

In [165]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters:  4
No. of Lower case characters:  33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [77]:
def unique_list(lst):
    return list(set(lst))

In [78]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [166]:
# def multiply(numbers):
#     multiply = 1
#     for _, nums in enumerate(numbers):
#       multiply =  multiply * nums
#     return multiply


# or
def multiply(numbers):
    multiply = 1
    for num in numbers:
      multiply =  multiply * num
    return multiply

In [167]:
multiply([1,2,3,-4])

-24

In [168]:
multiply([
    1, 2, 3, -4, 5, 1, -2, 3, 4, -1,
    2, 2, 3, -3, 5, -5, 6, 1, 1, -2,
    3, 4, -4, 2, 2, -1, 3, 3, -2, 5,
    -6, 1, 2, 4, -3, 2, 1, -1, 5, -2,
    3, 3, -4, 1, 2, -3, 2, 1, -1, 4
])

2674830134476800000

____
**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [180]:
def palindrome(s):
  # remove the spaces string
  s = s.replace(' ', '')
  # check if the string is == the reverse version of it.
  return s == s[::-1]

In [182]:
palindrome('helleh')

True

____
#### Hard:

**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [186]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    # Create the alphabet set.
    alphabets = set(alphabet)
    # Remove all the spaces from the input string.
    str1 = str1.replace(' ', '')
    # Convert into all lowercase.
    str1 = str1.lower()
    # check if the alphabet string == string set input.
    return alphabets == set(str1)

In [184]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [185]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

#### Great Job!